@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Lorem Ipsum</div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-light">Lorem Ipsum</div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>


<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>



