@model List<PhysPlatformProject.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Questions";
}
<div class="container-fluid text-sm-center p-5 bg-light">
    <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2">Может</h1>
    <p class="lead">он пидор?</p>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question</a>
        }
    </div>
</div>

<script>
    $("a[href='/allquestions']").attr("id", "active");
</script>

